@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1702027863631') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuanxingweixuanzhong:before {
  content: "\e72f";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-zhiding:before {
  content: "\e637";
}

.icon-zhiding1:before {
  content: "\e672";
}

.icon-touxiang:before {
  content: "\e607";
}

.icon-Close:before {
  content: "\e60a";
}

.icon-xuanzhong:before {
  content: "\e626";
}

.icon-houtui:before {
  content: "\e61d";
}

.icon-qianjin:before {
  content: "\e623";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-zuozhe:before {
  content: "\e766";
}

.icon-zhanneixin:before {
  content: "\e617";
}

.icon-liebiao:before {
  content: "\e660";
}

.icon-fasong:before {
  content: "\e60b";
}

.icon-fenlei:before {
  content: "\e60c";
}

.icon-dianzan:before {
  content: "\e60d";
}

.icon-fenxiang:before {
  content: "\e60e";
}

.icon-jiarushujia:before {
  content: "\e60f";
}

.icon-shujia:before {
  content: "\e610";
}

.icon-shuqian:before {
  content: "\e611";
}

.icon-shezhi:before {
  content: "\e612";
}

.icon-shuaxin:before {
  content: "\e613";
}

.icon-yejianmoshi:before {
  content: "\e614";
}

.icon-xiangqing:before {
  content: "\e615";
}

.icon-sousuo:before {
  content: "\e616";
}

.icon-xiaoxi:before {
  content: "\e618";
}

.icon-yuedujilu:before {
  content: "\e619";
}

.icon-xin:before {
  content: "\e675";
}

.icon-yonghuming:before {
  content: "\e61a";
}

.icon-back:before {
  content: "\e602";
}

.icon-fenxiangren:before {
  content: "\e54d";
}

.icon-mima:before {
  content: "\e61b";
}

.icon-a-shoucangweishoucang:before {
  content: "\e659";
}

.icon-a-shoucang_quxiaoshoucang:before {
  content: "\e671";
}

